<?xml version="1.0"?>
<launch>
  <arg name="record" default="true" />
  <arg name="id" default=""/>
  
  <node pkg="pose_estimation" type="pose_est_main.py" name="pose_estimation" output="screen" />
  <node pkg="pose_estimation" type="EmoNode.py" name="emotion_estimation" output="screen" />


  <node pkg="rosbag" type="record" name="viz_local"
    args="record -o /media/kerry/D47B-4625/bag/$(arg id) /global_camera/compressed /body_pose /emotion/global " if="$(arg record)"/>    
</launch>
